<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="icon" href="img/icon.png">
</head>
<html>
  <body>
    <div class="container">
      <header class="header">
        <h1 id="title" class="text-center">Doctor details verification</h1>
      </header>
      <form id="survey-form">
        <div class="form-group">
          <label id="name-label" for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            placeholder="Enter your name"
            required/>
        </div>
        <div class="form-group">
          <label id="email-label" for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Enter your Email"
            required/>
        </div>
        <div class="form-group">
          <label id="number-label" for="number"
            >Age<span class="clue">(optional)</span></label>
          <input
            type="number"
            name="age"
            id="number"
            min="10"
            max="99"
            class="form-control"
            placeholder="Age"
          />
        </div>
        <div class="form-group">
          <label id="number-label" for="number">Phone number</label>
          <input
            type="number"
            name="number"
            id="number"
            class="form-control"
            placeholder="Enter your Phone number"
            required/>
        </div>
        <div class="form-group">
          <label id="name-label" for="name">Current clinic name</label>
          <input
            type="name"
            name="name"
            id="name"
            class="form-control"
            placeholder="Enter your clinic name"
            required/>
        </div>
        <div class="form-group">
          <label id="name-label" for="name">Current clinic address</label>
          <input
            type="name"
            name="name"
            id="name"
            class="form-control"
            placeholder="Enter your clinic address"
            required/>
        </div>
        <div class="form-group">
          <label id="text-label" for="name">Doctors Liscence id</label>
          <input
            type="text"
            name="text"
            id="name"
            class="form-control"
            placeholder="Enter your Liscence id"
            required/>
        </div>
        <div class="form-group">
          <p>Please mention about your education qualification</p>
          <textarea
            id="comments"
            class="input-textarea"
            name="comment"
            placeholder="Enter your education qualification here..."></textarea>
        </div>


        <div class="form-group">
          <p>
            Specialization
            <span class="clue">(Check all that apply)</span>
          </p>

          <label
            ><input
              name="prefer"
              value="front-end-projects"
              type="checkbox"
              class="input-checkbox"/> Orthopedics</label
          >
          <label>
            <input
              name="prefer"
              value="back-end-projects"
              type="checkbox"
              class="input-checkbox" />Obstetrics and Gynecology</label
          >
          <label
            ><input
              name="prefer"
              value="data-visualization"
              type="checkbox"
              class="input-checkbox"/> Dermatology</label
          >
          <label
            ><input
              name="prefer"
              value="challenges"
              type="checkbox"
              class="input-checkbox"/> Pediatrics</label
          >
          <label
            ><input
              name="prefer"
              value="open-source-community"
              type="checkbox"
              class="input-checkbox"/> Ophthalmology</label
          >
          <label
            ><input
              name="prefer"
              value="gitter-help-rooms"
              type="checkbox"
              class="input-checkbox"/>Cardiologist</label>
        </div>








      
        <div class="form-group">
          <p>Any comments or suggestions?</p>
          <textarea
            id="comments"
            class="input-textarea"
            name="comment"
            placeholder="Enter your comment here..."
          ></textarea>
        </div>

        <div class="form-group">
          <button type="submit" id="submit" class="submit-button">
            Submit
          </button>
          <br>
          <a href="/logout" style="all: unset;"><button type="button" id="submit" class="submit-button">
            Logout
          </button></a>
        </div>
      </form>
    </div>
  </body>
</html>