<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Phame care </title>
  <meta name="description" content>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='/images/logo_favicon.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="{{ url_for('static', filename='images/pharam_care_logo.png') }}" alt>
        </div>
      </div>
    </div>
  </div>

  <header>

    <div class="header-area header-transparrent ">
      <div class="main-header header-sticky">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-xl-2 col-lg-2 col-md-1">
              <div class="logo">
                <a href="index.html"><img src="{{ url_for('static', filename='images/pharam_care_logo.png') }}" alt=""
                    width="128" height="38"></a>
              </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8">

              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="#"> Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <ul class="submenu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="single-blog.html">Blog Details</a></li>
                    </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3">
              <div class="header-right-btn f-right d-none d-lg-block">
                <a href="/login" class="btn header-btn">Log in</a>
              </div>
            </div>

            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  <main>

    <div class="slider-area ">
      <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-lg-7 col-md-9 ">
                <div class="hero__caption">
                  <h1 data-animation="fadeInLeft" data-delay=".4s">PHARM CARE<br>A centralized healthcare system</h1>
                  <p data-animation="fadeInLeft" data-delay=".6s">The website is designed to ensure that patient
                    information is kept confidential and only accessible to authorized personnel. Doctors who are
                    assigned a unique ID can access the patient information and update it as needed, ensuring that the
                    patient's medical records are accurate and up-to-date</p>

                  <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                    <a href="/register" class="btn hero-btn">Get Started</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                  <img src="https://redd-frontend.netlify.app/static/media/landing.7660a8fcc1141ed2fe74.png" alt>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-lg-7 col-md-9 ">
                <div class="hero__caption">
                  <h1 data-animation="fadeInLeft" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                  <p data-animation="fadeInLeft" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                    ultrices gravi.</p>

                  <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                    <a href="/register" class="btn hero-btn">Get started</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                  <img src="{{ url_for('static', filename='images/hero_right.png') }}" alt>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="what-we-do we-padding">
      <div class="container">

        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="section-tittle text-center">
              <h2>Services provided</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-do text-center mb-30">
              <div class="do-icon">
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #ff5c97;" width="60" height="60"
                  fill="currentColor" class="bi bi-file-earmark-lock" viewBox="0 0 16 16">
                  <path
                    d="M10 7v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V9.3c0-.627.46-1.058 1-1.224V7a2 2 0 1 1 4 0zM7 7v1h2V7a1 1 0 0 0-2 0zM6 9.3v2.4c0 .042.02.107.105.175A.637.637 0 0 0 6.5 12h3a.64.64 0 0 0 .395-.125c.085-.068.105-.133.105-.175V9.3c0-.042-.02-.107-.105-.175A.637.637 0 0 0 9.5 9h-3a.637.637 0 0 0-.395.125C6.02 9.193 6 9.258 6 9.3z" />
                  <path
                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg>
                <!-- <img src="{{ url_for('static', filename='images/padlock.png') }}" alt width="60px" height="60px"> -->
              </div>
              <br>
              <br>
              <div class="do-caption">
                <h4>Control data sharing</h4>
                <p>Personal data is increasingly collected, stored, and shared by various doctors with high
                  security<br><br></p>
              </div>
              <div class="do-btn">
                <a href="/register"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg> get started</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-do active text-center mb-30">
              <div class="do-icon">
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: #ff5c97;" width="60" height="60"
                  fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z" />
                </svg>
                <!-- <img src="{{ url_for('static', filename='images/google-docs.png') }}" alt width="60px" height="60px"> -->
              </div>
              <br>
              <br>
              <div class="do-caption">
                <h4>Document upload</h4>
                <p>Doctors are allowded to upload documents about the health condition of patients.</p>
              </div>
              <div class="do-btn">
                <a href="/register"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg> get started</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-do text-center mb-30">
              <div class="do-icon">
                <br>
                <img src="{{ url_for('static', filename='images/telemedicine.png') }}" alt width="60px" height="60px">
              </div>
              <div class="do-caption">
                <br>
                <br>
                <h4>Telemedicine</h4>
                <p>Medical diagnosis, treatment, and advice to patients who are not physically present at hospital</p>
              </div>
              <div class="do-btn">
                <a href="/register"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                  </svg> get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="we-create-area we-padding">
      <div class="container" id="about">
        <div class="row d-flex align-items-end">
          <div class="col-lg-6 col-md-12">
            <div class="we-create-img">
              <img src="{{ url_for('static', filename='images/doctor.jpg') }}" alt>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="we-create-cap">
              <h3>Your Health, Our Priority</h3>
              <p>Our website securely stores and manages patients' health details for authorized personnel to access and
                update using a unique ID. It facilitates collaboration between doctors involved in a patient's
                treatment, ensuring everyone is on the same page. This tool provides a secure and efficient way to
                store, manage, and access patient information, leading to better patient outcomes.</p>
              <a href="/register" class="btn">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area footer-bg we-padding">
      <div class="container">
        <div class="footer-border">
          <div class="row d-flex align-items-center">
            <div class="col-xl-12 ">
              <div class="footer-copy-right text-center">
                <p>
                  Copyright ©
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <svg xmlns="http://www.w3.org/2000/svg" style="color: #ff5c97;" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </footer>

  <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/animated.headline.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js') }}"></script>

  <script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>